@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
// MEASUREMENTS
$AppbarHeight: 90px;
// COLORS
$neon: #43ff64d9;
$white: white;

@mixin GlassComponent {
  border: 3px solid rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}
@mixin AuthButtons {
  font-weight: 900;
  padding: 5px 0px;
  // margin: 20px 10px;
  & svg {
    margin-bottom: 3px;
    font-size: 20px;
  }
}

@mixin CardHeading {
  & h2 {
    font-size: 70px;
    height: max-content;
    padding-left: 50px;
    font-weight: 700;
    color: $white;
  }
  & p {
    color: $white;
    padding-left: 50px;
    font-size: 20px;
  }
  & span {
    color: $neon;
  }
}

body {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: black;
  cursor: default;
}
.appbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .appbar-name {
    left: 50%;
    right: 50%;
    transform: translateX(-50% -50%);
    & p {
      font-size: 25px;
      margin: 0px;
      padding-left: 25px;
      font-weight: 700;
      color: $white;
      & span {
        color: $neon;
        margin-left: 10px;
        margin-right: 5px;
      }
    }
  }
  .appbar-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    height: $AppbarHeight;
    margin-top: 10px;
    @include GlassComponent();
    a {
      text-decoration: none;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      & h1 {
        font-size: 50px;
        height: max-content;
        margin: 0px;
        padding-left: 25px;
        font-weight: 700;
        color: $white;
        & span {
          color: $neon;
        }
      }
    }
    .dialouge {
      display: none;
    }
    .signin-button {
      margin-right: 20px;
      color: $white;
      font-size: 23px;
      & svg {
        font-size: 28px;
        color: $neon;
      }
    }
    .login {
      .appbar-form-small-screen {
        display: none;
      }
      .appbar-form {
        display: flex;
        align-items: center;
        height: $AppbarHeight;
        & p {
          height: 15px;
        }
        .appbar-inputs {
          margin: 15px 10px 0px 0px;
          .MuiOutlinedInput-root {
            color: white;
          }

          .MuiInputLabel-root {
            color: white;
          }

          .MuiOutlinedInput-notchedOutline {
            border-color: #43ff64d9;
          }
        }
        .appbar-login-button-small-screen {
          display: none;
        }
        .appbar-login-button {
          margin: 0px 5px 4px 0px;
          & {
            color: #43ff64d9;
            border-color: #43ff64d9;
            font-weight: bold;
            & svg {
              font-size: 30px;
            }
            &:hover {
              background-color: #43ff64d9;
              color: black;
              & svg {
                color: black;
              }
            }
          }
        }
      }
    }
    .appbar-dropdown {
      margin-right: 20px;
      color: white;
      & svg {
        font-size: 30px;
      }
    }
  }
}
.landing-parent {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  .doctor-title {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    .doctor-assist {
      width: 40%;
      height: 50vh;
      margin-top: 100px;
      opacity: 0.95;
    }
    .title-intro {
      display: flex;
      justify-content: center;
      width: 60%;
      height: 50vh;
      margin-top: 80px;
      .title-intro-center {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 100%;
        @include GlassComponent();
        .stethoscope {
          position: absolute;
          bottom: 10px;
          left: 50px;
          width: 150px;
        }
        .title-heading {
          width: 100%;
          height: 80%;
          & h1 {
            font-size: 70px;
            height: max-content;
            padding-left: 100px;
            font-weight: 700;
            color: $white;
            & span {
              color: $neon;
            }
          }
          .typewriter-title {
            display: flex;
            justify-content: center;
            width: 100%;
            text-transform: uppercase;
            font-weight: 600;
            cursor: default;
            font-size: 30px;
            color: $neon;
          }
        }
        .join-button {
          display: flex;
          justify-content: end;
          justify-self: flex-end;
          width: 100%;
        }
      }
    }
  }
  .doctor-connect {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    .doctor-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
      .lottie-adjust {
        width: 80%;
        opacity: 0.95;
      }
    }
    .connect-intro {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
      height: 100%;
      .connect-intro-center {
        width: 80%;
        height: 70%;
        padding-bottom: 50px;
        .doctor-conversation-animation {
          position: absolute;
          top: 0px;
          right: 0px;
        }
        .connect-intro-centerH5 {
          font-size: 35px;
          padding-left: 50px;
          color: $neon;
          font-weight: 500;
        }
        @include CardHeading();
        @include GlassComponent();
      }
    }
  }

  .doctor-communicate {
    display: flex;
    width: 100%;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    .connect-with-people {
      display: flex;
      flex-direction: column;
      width: 50%;
      .connect-with-people-center {
        position: relative;
        width: 90%;
        min-height: 70vh;
        z-index: 20;
        @include CardHeading();
        @include GlassComponent();
        .BPM {
          position: absolute;
          top: -30px;
          right: -30px;
        }
      }
      .connect-with-peopleH5 {
        font-size: 35px;
        padding-left: 50px;
        color: $neon;
        font-weight: 500;
      }
    }
    .doctor-communicate-lottie {
      display: flex;
      align-items: center;
      width: 50%;
    }
  }
}
.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  .chart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 180px;
    height: 180px;
    padding: 10px;
    @include GlassComponent();
  }
  .profile-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 25px;
    @include GlassComponent();
    .avatar-chart {
      display: flex;
    }
  }
}
.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  .login-card {
    display: flex;
    width: 70%;
    @include GlassComponent();
    .login-lottie {
      position: relative;
      display: flex;
      align-items: center;
      width: 50%;
      border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
    .doctor-lottie {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      & p {
        width: 100%;
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        color: $white;
        & span {
          color: $neon;
        }
      }
    }
    .inputs-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      .signup-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        .input {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
          margin-top: 10px;
        }
        .MUI-textfield-Email {
          .MuiOutlinedInput-root {
            color: white;
            width: 280px;
          }

          .MuiInputLabel-root {
            color: #43ff64d9;
          }

          .MuiOutlinedInput-notchedOutline {
            border-color: #43ff64d9;
          }
        }
        .MUI-textfield {
          margin: 20px 0px 0px 0px;
          .MuiOutlinedInput-root {
            color: white;
            width: 230px;
          }

          .MuiInputLabel-root {
            color: #43ff64d9;
          }

          .MuiOutlinedInput-notchedOutline {
            border-color: #43ff64d9;
          }
        }
      }
      .auth-buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding-bottom: 10px;
        .googleButton {
          color: black;
          background-color: white;
          border: 0px;
          width: 50px;
          height: 50px;
          & img {
            width: 30px;
            height: 30px;
          }
          & svg {
            font-size: 35px;
          }
        }
        .facebookButton {
          background-color: #3b5998;
          border: 0px;
          color: $white;
          @include AuthButtons();
        }
      }
    }
  }
}
.dashboard-parent {
  display: flex;
  width: 100%;
  min-height: 70%;
  justify-content: center;
  .dashboard-center {
    width: 98%;
    margin-top: 25px;
    // transform: skew(-20deg);
    .row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .recent-chats {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 300px;
        // padding: 10px 0px;
        @include GlassComponent();
        .recent-chat-title {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-weight: 600;
          font-size: 20px;
          & p {
            margin: 10px;
            display: flex;
            align-items: center;
            height: 20px;
            & svg {
              font-size: 35px;
              padding-right: 10px;
            }
          }
        }
        .recent-list {
          display: flex;
          flex-direction: column;
          width: 60%;
          .user-message {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: $white;
            border-radius: 10px;
            padding: 10px;
            // margin-top: 20px;
            height: max-content;
            .recent-info {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              & h4 {
                margin: 0px;
                & span {
                  color: $neon;
                  margin: 0px;
                }
              }
              & p {
                // animation:60s linear 0s infinite normal none running;
                margin: 5px 0px 0px 0px;
                font-size: 10px;
                font-style: italic;
                padding-left: 30px;
              }
            }
          }
        }
      }
      .profile-information {
        display: flex;
        height: 300px;
        width: 67%;
        @include GlassComponent();
        .dashboard-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33.33%;
          .dash-avatar {
            width: 200px;
            height: 200px;
            border: 5px solid #00ff2f;
          }
        }
        .dashboard-details {
          display: flex;
          flex-direction: column;
          width: 33.33%;
          & h1 {
            color: $white;
            font-size: 30px;
            & span {
              color: $neon;
            }
          }
          & p {
            color: $white;
            & span {
              color: $neon;
            }
          }
        }
        .activity-graph {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 33.33%;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .doctor-title {
    display: flex;
    flex-direction: column;
  }
  .landing-parent .doctor-title .doctor-assist {
    width: 70%;
  }
  .landing-parent .doctor-title .title-intro {
    width: 100%;
  }
  .doctor-connect {
    flex-direction: column-reverse;
    margin-top: 50px;
  }
  .landing-parent .doctor-connect .doctor-mobile {
    margin: 50px 0px 50px 50px;
  }
  .landing-parent .doctor-connect .connect-intro {
    width: 100%;
  }
  .doctor-communicate {
    flex-direction: column;
    margin-top: 50px;
  }
  .landing-parent .doctor-communicate .connect-with-people {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  .appbar-inputs {
    width: 160px;
  }
  .appbar-login-button {
    width: 50px;
    // height: 30px;
  }
  .BPM {
    width: 300px;
  }
  .landing-parent
    .doctor-connect
    .connect-intro
    .connect-intro-center
    .doctor-conversation-animation {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
  }
  .landing-parent
    .doctor-communicate
    .connect-with-people
    .connect-with-peopleH5 {
    font-size: 28px;
  }
  .landing-parent
    .doctor-connect
    .connect-intro
    .connect-intro-center
    .connect-intro-centerH5 {
    font-size: 28px;
  }
}
@media screen and (max-width: 700px) {
  .appbar .appbar-center .login .appbar-form {
    display: none;
  }
  .appbar-form-small-screen {
    display: flex;
    flex-direction: column;
  }
  .appbar .appbar-center .dialouge {
    display: block;
  }
  .BPM {
    display: none;
  }
}
